{% extends 'componentes/paginaMenu.html' %}
{%block encabezado%}
<div class="encabezado txt-encabezado">
  Clientes
</div>
{%endblock%}
{%block cuerpo%}

<section class="padding-m txt-encabezado">
  <label">
    <img class="slot-start padding icon-xxg" src="{{url_for('static',filename='images/clientes.png')}}" />
    </label>
    <label class="padding-sm">
      <a href="/formularioClientes">
        <button class="boton-icono alineacion">
          <img src="{{url_for('static',filename='images/registrar.png')}}" />
          <label class="slot-end padding-center"> Registrar Clientes </label>
        </button>
      </a>
    </label>

</section>

<section class="slot-center padding-g">
  <h2 class="txt-encabezado2">Listado de clientes</h2>
  <table>
    <thead class="slot-center">
      <th>Id</th>
      <th>Nombre </th>
      <th>Empresa</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Calle</th>
      <th>NumExt</th>
      <th>NumInt</th>
      <th>Colonia</th>
      <th>Municipio</th>
      <th>Estado</th>
      <th>Cp</th>
      <th></th>
    </thead>

    {%for obj in ['Erick', 'Yuvia', 'Julian', 'Erandi']%}
    <tr>
      <td>123</td>
      <td>{{obj}}</td>
      <td>HP</td>
      <td>351-152-0609</td>
      <td>{{obj}}@gmial.com</td>
      <td>Escaramuza</td>
      <td>#20</td>
      <td>#20</td>
      <td>Monte Bello</td>
      <td>Zamora</td>
      <td>Michoacan</td>
      <td>105936</td>
      <td>
        <a href="/formularioClientes">
          <button class="boton-icono-only">
            <img class="icon-auto" src="{{url_for('static',filename='images/editar.png')}}" />
          </button>
          <a>
            <a href="/autos">
              <button class="boton-icono-only">
                <img class="icon-auto" src="{{url_for('static',filename='images/autos-icono.png')}}" />
              </button>
              <a>
                <button class="boton-icono-only">
                  <img class="icon-auto" src="{{url_for('static',filename='images/eliminar.png')}}" />
                </button>
              </a>

      </td>
    </tr>
    {% endfor %}
  </table>
</section>
{%endblock%}