{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}

<body class="fondo">
  <header class="encabezado txt-encabezado">Clientes</header>
  <form class="form" action="/formularioClientes/guardar" method="post" enctype="multipart/form-data">

    <div>
      Id Cliente:
      <input type="number" placeholder="id Cliente" name="id" />
    </div>

    <div>
      Usuario:
      <input type="text" placeholder="Usuario" name="userName" required />
    </div>

    <div>
      Contraseña:
      <input type="password" placeholder="password" name="password" required />
    </div>

    <div>
      Empresa:
      <input type="text" placeholder="Empresa" name="empresa" />
    </div>

    <div>
      Nombre:
      <input type="text" placeholder="Nombre" name="nombre" required />
    </div>

    <div>
      Apellido Paterno:
      <input type="text" placeholder="Apellido Paterno" name="apellidoP" required />
    </div>

    <div>
      Apellido Materno:
      <input type="text" placeholder="Apellido Materno" name="apellidoM" required />
    </div>
    <div>
      Telefono:
      <input type="number" placeholder=" telefono" name="tel" required />
    </div>

    <div>
      Email:
      <input type="text" placeholder="Email" name="email" />
    </div>

    <div>
      Calle:
      <input type="text" placeholder="Calle" name="calle" />
    </div>

    <div>
      Numero Esterior:
      <input type="number" placeholder="numExt" name="numExt" />
    </div>

    <div>
      Numero Interior :
      <input type="text" placeholder="Numero interior" name="numInt" />
    </div>

    <div>
      Colonia:
      <input type="text" placeholder="Colonia" name="colonia" />
    </div>

    <div>
      Municipio:
      <input type="text" placeholder="Municipio" name="municipio" />
    </div>

    <div>
      Estado:
      <input type="text" placeholder="Estado" name="estado" />
    </div>

    <div>
      Codigo Postal:
      <input type="number" placeholder="cp" name="cp" />
    </div>

    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/clientes">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>


  </form>


</body>
{% endblock%}
