{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}

<body class="fondo">
  <header class="encabezado txt-encabezado">Clientes</header>

  <div id="notificaciones" style="background-color:brown;color:white"> 
  </div>

  {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible alertas-txt">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}       
  {% endif %}
  <form class="form" action="/formularioUsuarios/guardar/{{editar}}/{{url}}" method="post" onsubmit="return validar(this)" > 
    <div>
      Id Usuario:
      <input type="number" placeholder="id Usuario" name="idU" value='{{usuarios.idUsuario}}' />
    </div>

    <div>
      Nombre:
      <input type="text" placeholder="Nombre completo" name="nombre" value='{{usuarios.nombre}}' required />
    </div>

    <div>
      Usuario:
      <input type="text" placeholder="Nombre de usuario" name="userName" value='{{usuarios.userName}}' required />
    </div>

    <div>
      Email:
      <input type="text" placeholder="Email" name="email"  value='{{usuarios.email}}' />
    </div>

    <div>
      Contraseña:
      <input type="password" placeholder="password" name="password" value='{{usuarios.password}}' required />
    </div>

    <div>
      Estatus:
      {% if usuarios.estatus==True %}
      <input type="checkbox" name="estatus" value='True' checked>
      {% else %}
      <input type="checkbox" name="estatus" value='True'>
      {% endif %}
    </div>
    

    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/{{url}}">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>
  </form>

  <script src="{{url_for('static', filename='js/usuarios.js')}}"></script>
  
</body>
{% endblock%}
