.encabezado{
    background-color: black;
    text-align: center;
}
.txt-encabezado{   
    color: white;
    font-size: 100px;
    font-family: fantasy;     
}
.txt-encabezado2{   
    color: black;
    margin: 15px;
    font-size: 40px;
    font-family: fantasy;     
}
.fondo{
    background-image: url(../images/fondo.jpg);
    background-size: cover;       
}



/* Menu */
.menu{
    background-color:rgba(255, 255, 255, 0.815);    
    font-size: 20px;    
    text-align: center;
    margin-top: 20px;  
}


/* alineacion */
.slot-start{
    float: left;
}
.slot-end{
    float: right;      
}
.slot-center{
    text-align: center;    
}


/* iconos-tamaños */
.icon-sm{
    width: 32px;
    height: 32px;
}
.icon-m{
    width: 48px;
    height: 48px;
}
.icon-g{
    width: 80px;
    height: 80px;
}
.icon-xg{
    width: 128px;
    height: 128px;
}
.icon-xxg{
    width: 200px;
    height: 200px;
}
.icon-auto{
    min-width: 40px;
    min-height: 40px;
    width: 100%;
    height: 100%;
}

/* padding */
.padding{
    padding: 10px;       
}
.padding-sm{
    padding: 5px;
}
.padding-m{
    padding: 27px;    
}
.padding-g{
    padding: 40px;
}
.padding-center{
    padding-top: 15px;
    padding-bottom:15px ;    
}
.alineacion{
    margin-top: 30px;
    margin-left: 30%;    
}
.margenes-I-D{
    margin-left: 30px;
    margin-right: 30px;
}
.margenes-D{    
    margin-right: 30px;
}
.margenes-I{    
    margin-left: 5px;
}
.margenes-A-B{
    margin-top: 10%;
    margin-bottom: 10%;    
}
.padding-login{
    margin-right: 10px;
    margin-top: 10px;  
}


/* formularios */
.form{
    min-width: 300px;
    width: 30%;
    height: auto;
    background: rgba(0, 0, 0, 0.226);
    margin: auto;
    margin-top: 40px;    
    padding: 20px 30px;    
    border-radius: 20px; 
    font-family: fantasy;
    font-size: 34px;       
}

.form2{
    min-width: 300px;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.226);
    margin: auto;
    margin-top: 40px;    
    padding: 20px 30px;    
    border-radius: 20px; 
    font-family: fantasy;
    font-size: 34px;       
}

.boton-icono{
    border: none;
    background-color: transparent;
    float: left;      
    font-size: 18px;
    color: black;   
}
.boton-icono:hover, .boton-icono-only:hover{    
    background-color: rgba(102, 102, 102, 0.24) ;         
}
.boton-icono-only{
    border-radius: 30px;    
    border: none;
    padding: 5px;
    background-color:transparent;
     
}
.boton-login{
    color: black;
    font-size: 10px; 
}



/* color */
.color-danger{
    background-color:#f44242;
}
.color-danger:hover{
    background-color:#eb0808fd;
}
.color-verde{
    background-color: rgb(0, 167, 0);
}
.color-verde:hover{
    background-color: green;
}

/* textos */
.alertas-txt{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}



/* Propiedades personalizadas */
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;  
    padding: 20px 0px;  
    font-family: 'Open Sans', sans-serif;     
}
.contenedor h2{    
    text-align: center;
    font-size: 200%;
}
.contenedor-columnas{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;       
}
.contenedor-columna{    
    width: 25%;
    height: 100%;   
    margin-bottom: 20px;
}
.contenedor-renglon{    
    width: 80%;    
    display: inline-block;  
}
.contenedor-renglon h3{     
    text-align: center;
    font-size: 150%;
    font-weight: bold;    
}
.contenedor-renglon p{       
    font-size: 130%;
    text-align: justify;
}
.contenedor-columna img{    
    display: block;
    margin: auto;
    width: 70%;
}
.listar{ 
       
    display: inline-block;
    border-radius: 50%;
    background-color: black;    
    width: 10px;
    height: 10px;
    margin: 3px;
  
}


/* Propiedades directas a etiquetas */
input, select{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px; 
}
input[type=radio][type=checkbox]{
    width: 25px;
    height: 25px;
    font-size: medium;  
}
a{
    font-family: Arial, Helvetica, sans-serif;    
    text-decoration: none;
    color: black;      
}
a:hover{
    text-decoration: none;
    color: #1a73e8;
}
th{
    text-align: center;
}
td{
    text-align: left;
}
td,th{
   border-bottom: 2.5px solid #999;   
   padding-right: 15px;
   padding-left: 15px;   
   font-family: 'Gill Sans';
   
}
table{        
    text-align: center;
    border-collapse: collapse;
    margin: auto auto;
    font-size: 150%;      
}
button{    
    border-radius: 0.15cm;
    border: none;    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;      
    background-color:#4285f4;
}
button:hover{
    background-color:#085febfd;
}
form button{
    width: 100%;
    height: 50px;
}

form div{
    padding: 5px;
}
textarea {
    overflow: scroll;
    resize: none;
    width: 100%;
    height: 100px;    
    border-radius: 5px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}
footer{
    background-color: #8aa8d0;    
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
    padding: 8px 0;   
}
footer div{     
   margin: 0 50px;
   font-family: Arial, Helvetica, sans-serif;
}


/* Modal */
