{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}
<body class="fondo">
  <header class="encabezado txt-encabezado">Formulario Productos</header>
  {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible alertas-txt">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
  {% endif %}
  <form class="form" action="/productos/guardar/{{editar}}" method="post" enctype="multipart/form-data">
     <div>
      Id Producto:
      <input type="number" placeholder="ID Producto" name="id" value="{{productos.idProducto}}" />
    </div>

    <div>
      Nombre:
      <input type="text" placeholder="Nombre" name="nombre" value="{{productos.nombre}}" required />
    </div>

    <div>
      Marca:
      <input type="text" placeholder="Marca" name="marca" value="{{productos.marca}}" />
    </div>

    <div>
      Modelo:
      <input type="text" placeholder="Modelo" name="modelo" value="{{productos.modelo}}" />
    </div>

    <div>
      Tipo:
      <input type="text" placeholder="Tipo" name="tipo" value="{{productos.tipo}}"/>
    </div>

    <div>
      Anaquel:
      <input type="number" placeholder="Anaquel" name="anaquel" value="{{productos.anaquel}}" />
    </div>

    <div>
      Estante:
      <input type="number" placeholder="Estante" name="estante" value="{{productos.estante}}" />
    </div>
    <div>
      Costo:
      <input type="number" min="1" placeholder="Costo" name="costo" value="{{productos.costo}}" pattern= "^[1-9][0-9]*$" />
    </div>

    <div>
      Precio:
      <input type="number" placeholder="Precio" name="precio" value="{{productos.precio}}" />
    </div>

    <div>
      Descripcion:
      <input type="text" placeholder="Descripcion" name="descripcion" value="{{productos.descripcion}}" />
    </div>

    <div>
      Unidades:
      <input type="number" min="0" placeholder="Unidades" name="unidades" value="{{productos.unidades}}" pattern= "^[1-9][0-9]*$"/>
    </div>

  <div>
    
      <button type="submit"> Guardar </button>
   
    </div>
    <div>
      <a href="/productos">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>
    </form>
</body>
{% endblock%}
