{% extends 'componentes/paginaMenu.html' %}
{%block encabezado%}
<div class="encabezado txt-encabezado">
  Productos
</div>
{%endblock%}
{%block cuerpo%}

<section class="padding-m txt-encabezado">
  <label">
    <img class="slot-start padding icon-xxg" src="{{url_for('static',filename='images/productos.png')}}" />
    </label>
    <label class="padding-sm">
      <a href="/formularioProductos">
        <button class="boton-icono alineacion">
          <img src="{{url_for('static',filename='images/registrar.png')}}" />
          <label class="slot-end padding-center"> Registrar Producto </label>
        </button>
      </a>
    </label>

</section>

<section class="slot-center padding-g">
  <h2 class="txt-encabezado2">Listado de Productos</h2>
  <table>
    <thead class="slot-center">
      <th>Id</th>
      <th> Producto</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Tipo</th>
      <th>Anaquel</th>
      <th>Estante</th>
      <th>Costo</th>
      <th>Precio</th>
      <th>Descripcion</th>
      <th>Unidades</th>
      <th></th>
    </thead>

    {%for obj in ['Filtro de gas', 'Focos', 'Aceites', 'Bujias']%}
    <tr>
      <td>111</td>
      <td>{{obj}}</td>
      <td>Mobil</td>
      <td>Extengine</td>
      <td>{{obj}}Semi-sintetico</td>
      <td>Urrea</td>
      <td>Mikel's</td>
      <td>$500</td>
      <td>$500</td>
      <td>Gran tamaño</td>
      <td>1</td>

      <td>
        <a href="/formularioProductos">
          <button class="boton-icono-only">
            <img class="icon-auto" src="{{url_for('static',filename='images/editar.png')}}" />
          </button>
          <a>
            <button class="boton-icono-only">
              <img class="icon-auto" src="{{url_for('static',filename='images/eliminar.png')}}" />
            </button>
          </a>

      </td>
    </tr>
    {% endfor %}
  </table>
</section>
{%endblock%}