{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}
<body class="fondo">
  <header class="encabezado txt-encabezado">Productos</header>
  <form class="form" action="/productos">

    <div>
      Id Producto:
      <input type="number" placeholder="id Producto" name="id" required />
    </div>

    <div>
      Nombre Producto:
      <input type="text" placeholder="Nombre Producto" name="Nombre Producto" required />
    </div>

    <div>
      Marca:
      <input type="text" placeholder="Marca" name="Marca" />
    </div>

    <div>
      Modelo:
      <input type="text" placeholder="Modelo" name="Modelo" />
    </div>

    <div>
      Tipo:
      <input type="text" placeholder="Tipo" name="Tipo" />
    </div>

    <div>
      Anaquel:
      <input type="text" placeholder="Anaquel" name="Anaquel" />
    </div>

    <div>
      Estante:
      <input type="text" placeholder="Estante" name="Estante" />
    </div>
    <div>
      Costo:
      <input type="number" placeholder=" Costo" name="Costo" />
    </div>

    <div>
      Precio:
      <input type="number" placeholder="Precio" name="Precio" />
    </div>

    <div>
      Descripcion:
      <input type="text" placeholder="Descripcion" name="Descripcion" />
    </div>

    <div>
      Unidades:
      <input type="number" placeholder="Unidades" name="Unidades" />
    </div>


    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/productos">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>


  </form>


</body>
{% endblock%}