{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}
<body class="fondo">
  <header class="encabezado txt-encabezado">Detalles Servicio</header>
  <form class="form" action="/formularioServicios">
    <div>
      Id servicio:
      <input type="number" placeholder="id servicio" name="id" disabled />
    </div>

    <div>
      Producto:
      <input type="text" placeholder="Producto" name="producto" required />
    </div>

    <div>
      Cantidad:
      <input type="number" placeholder="Cantidad de productos" name="cantidad" required />
    </div>

    <div>
      Costo:
      <input type="number" placeholder="Costo unitario" name="costo" disabled />
    </div>

    <div>
      Total:
      <input type="number" placeholder="Costo total" name="total" disabled />
    </div>

    <div>
      Área de reparación:
      <input type="text" placeholder="Área de reparación" name="area" required />
    </div>

    <div>
      Mecanico:
      <input type="text" placeholder="Nombre del mecánico" name="mecanico" required />
    </div>

    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/formularioServicios">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>


  </form>


</body>
{% endblock%}