{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}
<body class="fondo">

  

  <header class="encabezado txt-encabezado">Formulario Servicio</header>
  {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible alertas-txt">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
  {% endif %}
  <form class="form" action="/servicios/guardar/{{editar}}" method="post" enctype="multipart/form-data">
    <div>
      ID:
      <input id='id' type="number" placeholder="id" name="id" value="{{servicios.idServicio}}" />      
    </div>
    {% if editar==1 %}
    <div>
      Auto:
      <input type="number" placeholder="Auto" name="auto" required value="{{servicios.idAutomovil}}"/>
    </div>
    {% else %}
    <div>
      Auto:
      <select id="auto" name="auto" > 
        <option value="0">Selecciona un auto</option>        
        {% for c in autos %}        
            <option value="{{c.idAutomovil}}">
              {{c.consultarCliente()}}
              <p>{{c.marca}} {{c.modelo}} {{c.año}}</p>              
            </option>        
        {% endfor %}
      </select>
    </div>
    {% endif %}


    <div>
      Tipo:
      <select id="tipo" name="tipo" >                
          {% if servicios.tipo == "mayor" %}      
          <option value="mayor">Servicio Mayor</option>        
          <option value="menor">Servicio Menor</option>
          <option value="diagnostico">Servicio Diagnostico</option>
          <option value="especial">Servicio especial</option>
          {% else %}
            {% if servicios.tipo == "menor" %}
            <option value="menor">Servicio Menor</option>
            <option value="mayor">Servicio Mayor</option>           
            <option value="diagnostico">Servicio Diagnostico</option>
            <option value="especial">Servicio especial</option>
            {% else %}
              {% if servicios.tipo == "diagnostico" %}
              <option value="diagnostico">Servicio Diagnostico</option>
              <option value="menor">Servicio Menor</option>
              <option value="mayor">Servicio Mayor</option>              
              <option value="especial">Servicio especial</option>
              {% else %}
              <option value="especial">Servicio especial</option>
              <option value="diagnostico">Servicio Diagnostico</option>
              <option value="menor">Servicio Menor</option>
              <option value="mayor">Servicio Mayor</option>              
              {% endif %}
            {% endif %}
          {% endif %}
      </select>
    </div>

    <div>
      Llegada:
      <input type="Date" placeholder="Fecha de llegada" name="llegada" required value="{{servicios.llegada}}"/>
    </div>

    <div>
      Salida:
      <input type="Date" placeholder="Fecha de salida" name="salida" value="{{servicios.salida}}"/>
    </div>

    <div>
      Problemas:
      <input type="text" placeholder="Descripción de problema" name="problema" required value="{{servicios.problema}}"/>
    </div>

    <div>
      Avance:
      <input type="text" placeholder="Descripción de avances" name="avance" value="{{servicios.avance}}"/>
    </div>

    <div>
      Garantia:
      <input type="number" placeholder="Dias de garantía" name="garantia" value="{{servicios.garantia}}"/>
    </div>

    <div>
      Estatus:
      <select id="estatus" name="estatus" >                
        {% if servicios.estatus == "c" %}      
        <option value="c">Completo</option>        
        <option value="e">En espera</option>
        <option value="r">En reparacion</option>
        <option value="f">Finalizado</option>
        {% else %}
          {% if servicios.estatus == "f" %}
          <option value="f">Finalizado</option>
          <option value="e">En espera</option>
          <option value="c">Completo</option>        
          <option value="r">En reparacion</option>  
          {% else %}
            {% if servicios.estatus == "r" %}
            <option value="r">En reparacion</option>
            <option value="e">En espera</option>
            <option value="c">Completo</option>            
            <option value="f">Finalizado</option>
            {% else %}
            <option value="e">En espera</option>
            <option value="c">Completo</option>        
            <option value="r">En reparacion</option>
            <option value="f">Finalizado</option>                                     
            {% endif %}
          {% endif %}
        {% endif %}
    </select>
    </div>   
    {%if  editar == 1%}
    <div>
      <a href="/detallesServicios/{{servicios.idServicio}}">
        <button class="color-verde" type="button">Agregar Detalle</button>
      </a>
    </div>
    <div>
      Detalles:      
      <table class="detalles">
        <thead>
          <th>            
          </th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
          <th>Area de reparación</th>
          <th>Mecanico</th>          
        </thead>
        {%for obj in detalles %}  
        <tr>
          <td>
            <button
              class="boton-icono-only"
              type="button"
              data-toggle="modal"
              data-target="#eliminar{{obj.idProducto}}"
              class="btn btn-info"
            >
              <img
                class="icon-auto"
                src="{{url_for('static',filename='images/eliminar.png')}}"
              />
            </button>        
          </td>
          <td>{{obj.getProducto()}}</td>
          <td>{{obj.cantidad}}</td>
          <td>{{obj.costosU}}</td>
          <td>{{obj.costoTotal}}</td>
          <td>{{obj.areaReparacion}}</td>
          <td>{{obj.idEmpleado}}</td>
          
        </tr>
        <!-- Modal -->
    <div id="eliminar{{obj.idProducto}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Confirmacion de proceso</h4>
          </div>
          <div class="modal-body">
            <p>¿Estas seguro de eliminar el producto: {{obj.idProducto}} ?</p>
          </div>
          <div class="modal-footer">
            <a href="/detalles/{{obj.idProducto}}/{{obj.idServicio}}" class="btn btn-info"
              >Aceptar</a
            >
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>


        {% endfor %}
      </table>      
    </div>
    {%endif%}

    {% if editar==1 %}
    
    <div>
      Mano de obra:
      <input id="manoObra" type="number" placeholder="Costo de mano de obra" name="manoObra" value="{{servicios.manoObra}}" onchange="calcularTotal()"/>
    </div>
    

    <div>
      Total:
      <input id="total" type="number" placeholder="Costo total" name="total" value="{{servicios.total}}"/>
    </div>

    {% endif %}

    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/servicios">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>


  </form>
  
  <script src="{{url_for('static', filename='js/servicios.js')}}"></script>
</body>
{% endblock%}
