{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}
<body class="fondo">
  <header class="encabezado txt-encabezado">Formulario Servicio</header>
  {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible alertas-txt">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
  {% endif %}
  <form class="form" action="/servicios/guardar/{{editar}}" method="post" enctype="multipart/form-data">
    <div>
      ID:
      <input type="number" placeholder="id" name="id" value="{{servicios.idServicio}}"/>      
    </div>

    <div>
      Auto:
      <input type="number" placeholder="Auto" name="auto" required value="{{servicios.idAutomovil}}"/>
    </div>

    <div>
      Tipo:
      <input type="text" placeholder="Tipo" name="tipo" required value="{{servicios.tipo}}"/>
    </div>

    <div>
      Llegada:
      <input type="Date" placeholder="Fecha de llegada" name="llegada" required value="{{servicios.llegada}}"/>
    </div>

    <div>
      Salida:
      <input type="Date" placeholder="Fecha de salida" name="salida" value="{{servicios.salida}}"/>
    </div>

    <div>
      Problemas:
      <input type="text" placeholder="Descripción de problema" name="problema" required value="{{servicios.problema}}"/>
    </div>

    <div>
      Avance:
      <input type="text" placeholder="Descripción de avances" name="avance" value="{{servicios.avance}}"/>
    </div>

    <div>
      Garantia:
      <input type="number" placeholder="Dias de garantía" name="garantia" value="{{servicios.garantia}}"/>
    </div>

    <div>
      Estatus:
      <input type="text" placeholder="Estatus del servicio" name="estatus" value="{{servicios.estatus}}"/>
    </div>

    <div>
      Detalles:
      <textarea placeholder="Detalles" name="detalles" cols="7" rows="10"></textarea>
      <a href="/detallesServicios">
        <button class="color-verde" type="button">Agregar detalles</button>
      </a>
    </div>

    <div>
      Mano de obra:
      <input type="number" placeholder="Costo de mano de obra" name="manoObra" value="{{servicios.manoObra}}"/>
    </div>

    <div>
      Total:
      <input type="number" placeholder="Costo total" name="total" value="{{servicios.total}}"/>
    </div>

    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/servicios">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>


  </form>
  

</body>
{% endblock%}
