{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}
<body class="fondo">
  <header class="encabezado txt-encabezado">Mecanicos</header>
  {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible alertas-txt">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
  {% endif %}
  <form class="form" action="/mecanicos/guardar/{{editar}}" method="post" enctype="multipart/form-data">
    <div>
      idEmpleado:
      <input type="number" placeholder="id" name="id" value="{{mecanicos.idEmpleado}}"  />
    </div>

    <div>
      Nombre:
      <input type="text" placeholder="Nombre" name="nombre" value="{{mecanicos.nombre}}"  />
    </div>
    <div>
      Apellido Paterno:
      <input type="text" placeholder="Apellido Paterno" name="apellidoPaterno" value="{{mecanicos.apellidoPaterno}}"  />
    </div>

    <div>
      Apellido Materno:
      <input type="text" placeholder="Apellido Materno" name="apellidoMaterno" value="{{mecanicos.apellidoMaterno}}"  />
    </div>

    <div>
      Nacimiento:
      <input type="date" placeholder="Fecha de nacimiento" name="fechaNac" value="{{mecanicos.fechaNac}}"  />
    </div>

    <div>
      Sexo:      
      <select name="sexo" >
        <option  value="M">Masculino</option>      
        <option  value="F">Femenino</option>                   
      </select>
    </div>

    <div>
      Telefono:
      <input type="number" placeholder="Número de telefono" name="telefono" value="{{mecanicos.telefono}}" />
    </div>

    <div>
      Domicilio:
      <input type="text" placeholder="Domicilio" name="calle" value="{{mecanicos.calle}}"/>
    </div>

    <div>
      Numero Exterior:
      <input type="number" placeholder="numExt" name="numExt" value="{{mecanicos.numExt}}"/>
    </div>

    <div>
      Numero Interior:
      <input type="text" placeholder="numInt" name="numInt" value="{{mecanicos.numInt}}" />
    </div>

    

    <div>
      Colonia:
      <input type="text" placeholder="Colonia" name="colonia" value="{{mecanicos.colonia}}"/>
    </div>

    <div>
      Estado:
      <input type="text" placeholder="Estado" name="estado" value="{{mecanicos.estado}}"/>
    </div>

    <div>
      Municipio:
      <input type="text" placeholder="Municipio" name="municipio" value="{{mecanicos.municipio}}"/>
    </div>

    <div>
      CP:
      <input type="number" placeholder="Código Postal" name="cp" value="{{mecanicos.cp}}"/>
    </div>

    <div>
      Contratación:
      <input type="date" placeholder="Fecha de contrato" name="contratacion" value="{{mecanicos.fechaContrato}}"/>
    </div>

    <div>
      Puesto:
      <input type="text" placeholder="Puesto" name="puesto" value="{{mecanicos.puesto}}"/>
    </div>

    <div>
      NSS:
      <input type="text" placeholder="Número de seguro social" name="nss" value="{{mecanicos.numSeguroS}}"/>
    </div>

    <div>
      RFC:
      <input type="text" placeholder="RFC" name="rfc" value="{{mecanicos.rfc}}"/>
    </div>

    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/mecanicos">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>


  </form>


</body>
{% endblock%}