{% extends 'componentes/paginaMenu.html' %} {%block encabezado%}
<div class="encabezado txt-encabezado">Mecánicos</div>
{%endblock%} {%block cuerpo%}
{% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible alertas-txt">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
  {% endif %}
<section class="contenedor">
  <div class="slot-start padding">
    <img src="{{url_for('static',filename='images/mecanicos.png')}}" />
  </div>
  <div class="alineacion">
    <a href="/formularioMecanicos">
      <button class="boton-icono">
        <img src="{{url_for('static',filename='images/registrar.png')}}" />
        <label class="slot-end padding-center"> Registrar mecánico </label>
      </button>
    </a>
  </div>
</section>

<section class="slot-center padding-ch">
  <h2 class="txt-encabezado2">Listado de mecánicos</h2>
  <table>
    <thead class="slot-center">
      <th>Id</th>
      <th>Nombre</th>
      <th>Nacimiento</th>
      <th>Sexo</th>
      <th>Telefono</th>
      <th>Domicilio</th>
      <th>Colonia</th>
      <th>Municipio</th>
      <th>Estado</th>
      <th>CP</th>
      <th>Contratación</th>
      <th>Puesto</th>
      <th>NSS</th>
      <th>RFC</th>
      <th></th>
      <th></th>
    </thead>

    {%for obj in mecanicos%}
    <tr>
      <td>{{obj.idEmpleado}}</td>
      <td>{{obj.nombre}</td>
      <td>{{obj.nacimiento}}</td>
      <td>{{obj.sexo}}</td>
      <td>{{obj.telefono}}</td>
      <td>{{obj.domicilio}}</td>
      <td>{{obj.colonia}}</td>
      <td>{{obj.municipio}}</td>
      <td>{{obj.estado}}</td>
      <td>{{obj.cp}}</td>
      <td>${{obj.contratacion}}</td>
      <td>${{obj.puesto}}</td>
      <td>${{obj.nss}}</td>
      <td>${{obj.rfc}}</td>
      {% if current_user.is_authenticated  and current_user.is_admin() %}
      <td>
        <a href="/formularioMecanicos">
          <button class="boton-icono-only">
            <img
              class="icon-auto"
              src="{{url_for('static',filename='images/editar.png')}}"
            />
          </button>
        </a>        
      </td>
      <td>
        <a>
          <button class="boton-icono-only">
            <img
              class="icon-auto"
              src="{{url_for('static',filename='images/eliminar.png')}}"
            />
          </button>
        </a>
      </td>      
    </tr>
    <div id="eliminar{{obj.idEmpleado}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Confirmacion de proceso</h4>
          </div>
          <div class="modal-body">
            <p>¿Estas seguro de eliminar el registro: {{obj.idEmpleado}} ?</p>
          </div>
          <div class="modal-footer">
            <a href="/mecanicos/{{obj.idEmpleado}}" class="btn btn-info"
              >Aceptar</a
            >
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </table>
</section>
{%endblock%}
