{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}
<body class="fondo">
  <header class="encabezado txt-encabezado">Formulario mecánicos</header>
  <form class="form" action="/mecanicos">
    <div>
      ID:
      <input type="number" placeholder="id" name="id" required />
    </div>

    <div>
      Nombre:
      <input type="text" placeholder="Nombre" name="nombre" required />
    </div>

    <div>
      Nacimiento:
      <input type="date" placeholder="Fecha de nacimiento" name="nacimiento" required />
    </div>

    <div>
      <fieldset>
        <legend>Sexo:</legend>
        <div>
          
            <input type="radio" name="sexo" value="Masculino"> M
          
        </div>
        <div>
          
            <input type="radio" name="sexo" value="Femenino"> F
          
        </div>
      </fieldset>
    </div>

    <div>
      Telefono:
      <input type="number" placeholder="Número de telefono" name="telefono" required />
    </div>

    <div>
      Domicilio:
      <input type="text" placeholder="Domicilio" name="domicilio" />
    </div>

    <div>
      Colonia:
      <input type="text" placeholder="Colonia" name="colonia" />
    </div>

    <div>
      Estado:
      <input type="text" placeholder="Estado" name="estado" />
    </div>

    <div>
      Municipio:
      <input type="text" placeholder="Municipio" name="municipio" />
    </div>

    <div>
      CP:
      <input type="number" placeholder="Código Postal" name="cp" />
    </div>

    <div>
      Contratación:
      <input type="date" placeholder="Fecha de contrato" name="contratacion" required />
    </div>

    <div>
      Puesto:
      <input type="text" placeholder="Puesto" name="puesto" required />
    </div>

    <div>
      NSS:
      <input type="text" placeholder="Número de seguro social" name="nss" />
    </div>

    <div>
      RFC:
      <input type="text" placeholder="RFC" name="rfc" />
    </div>

    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/mecanicos">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>


  </form>


</body>
{% endblock%}