{% extends 'componentes/paginaMenu.html' %} {% block contenedor%}

<body class="fondo">
  <header class="encabezado txt-encabezado">Formulario auto</header>
  {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible alertas-txt">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
  
  <form class="form" action="/autos/guardar/{{editar}}" method="post" enctype="multipart/form-data">
    <div>
      ID:
      <input type="number" placeholder="id" name="id"  value="{{autos.idCliente}}" required />
    </div>

    <div>
      Cliente:
      <input type="text" placeholder="Nombre del cliente" name="cliente" value="{{autos.idAutomovil}}" required />
    </div>

    <div>
      Placa:
      <input type="text" placeholder="Placa" name="placa"  value="{{autos.placa}}" required />
    </div>

    <div>
      Marca:
      <input type="text" placeholder="Marca" name="marca" value="{{autos.marca}}" required />
    </div>

    <div>
      Modelo:
      <input type="text" placeholder="Modelo" name="modelo" value="{{autos.modelo}}" required />
    </div>

    <div>
      Año:
      <input type="number" placeholder="Año" name="año" value="{{autos.año}}" required />
    </div>

    <div>
      Color:
      <input type="text" placeholder="Color del carro" name="color" value="{{autos.color}}" required />
    </div>

    <div>
      <fieldset>
        <legend>Tansmision</legend>
        <div>
          
            <input type="radio" name="transmision" value="Automatico"> Automatico
          
        </div>
        <div>
          
            <input type="radio" name="transmision" value="Manual"> Manual
          
        </div>
      </fieldset>
    </div>

    <div>
      <button type="submit"> Guardar </button>
    </div>
    <div>
      <a href="/autos">
        <button class="color-danger" type="button">Cancelar</button>
      </a>
    </div>


  </form>


</body>
{% endblock%}
